<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="dark">About</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-lg-offset-2">
	<p>I'm a machine learning researcher who's dabbled in both academia and industry. Recently I've been working on problems in natural language processing, deep learning, and interactive ML.</p>
      </div>
      <div class="col-lg-3">
	<p>I spent some time in the PhD program at the <a href="https://www.cs.washington.edu/">University of Washington</a>, working with <a href="http://homes.cs.washington.edu/~guestrin/">Carlos Guestrin</a> and <a href="http://homes.cs.washington.edu/~kemelmi/">Ira Kemelmacher-Shlizerman</a> on projects in machine learning and computer vision.</p>
      </div>
      <div class="col-lg-3">
	<p>Previously I was an undergraduate at <a href="http://www.williams.edu/">Williams College</a> (class of 2013), where I majored in mathematics and computer science, and completed an <a href="files/thesis2013.pdf">honors thesis</a> in machine learning.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
	<p><a href="mailto:april[dot]tuesday[at]gmail[dot]com">email</a> | <a href="files/CV-summer2016.pdf">CV</a></p>
      </div>
    </div>
  </div>
</section>
